<table class="table is-fullwidth is-striped is-hoverable">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>View</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each street.placemarks}}
        <tr>
        <td>{{title}}</td>
        <td>{{category}}</td>
        <td>
          <a href="/street/{{../street._id}}/placemark/{{_id}}" class="button is-info is-small">
            <span class="icon">
              <i class="fas fa-eye"></i>
            </span>
          </a>
        </td>
        <td>
          <a href="/street/{{../street._id}}/editplacemark/{{_id}}" class="button is-primary is-small">
            <span class="icon">
              <i class="fas fa-edit"></i>
            </span>
          </a>
        </td>
        <td>
          <a href="/street/{{../street._id}}/deleteplacemark/{{_id}}" class="button is-danger is-small">
            <span class="icon">
              <i class="fas fa-trash"></i>
            </span>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
